html {
    background-color: whitesmoke;
}


.welcome {
    font-size: 32px;
    text-align: center;
    color: #269289;
}

.welcome2 {
    font-size: 32px;
    text-align: center;
    color: #F79327;
}

.pic {
    height: 340px;
    width: 490px;
    border: 20px solid black;
    padding: 7px;
    margin:20px;
}
 
.title {
    margin-left: 14px;
}

.name {
    text-align: center;
    color: #269289;
}

.secimg {
    height: 340px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed green;
    padding: 10px;
}

.descrption {
    font-size: 32px;
    text-align: center;
    font-family: 'Lobster Two', cursive;
font-family: 'Merienda', cursive;
color: black;
}

hr {
    height: 7px;
    background-color: black;
}

footer {
    display: flex;
    justify-content: space-between;
}

.aboutwelcome {
    text-align: center;
    color: blue;
}

.story {
    text-align: center;
    color: red;
}

.the-story {
    text-align: center;
    font-size: 27px;
}

.the-story2 {
    font-size: 26px;
    text-align: center;
}

.thankyou {
    font-size: 25px;
    text-align: center;
    color: green;
}

.thankyouimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    text-align: center;
}